body{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px ;
    color: rgba(0, 0, 0, 0.6);
    line-height: 23px;
    margin: 0 auto;
    width: 1440px;

}
input{
    margin: 0;
}
*,
*:after,
*:before{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5{
    margin: 0;
}

/*Container*/
.container{
    width: 100%;
    max-width: 1189px;
    margin: 0 auto;
}
/*Intro*/

.intro{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/*Nav*/

.nav{
    padding-left: 117px;
    padding-right: 120px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 10;
    display: flex;
    justify-content:space-between;
    top: 0;
    position: relative;
    height: 121px;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.list a{
    position: relative;
    text-decoration: none;
    margin: 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.87);
    transition: all 250ms linear;

}
.list a:hover,
.list a:focus{
    color: #03DAC4
}
.list a:after{
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    top: 200%;
    left: 0;
    background: #6200EE;
    transition: all 250ms linear;
}
.list a:hover:after {
    width: 100%;
}


.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: normal;
    opacity: 0.4;
    }
.socials a{
    margin-left: 22px;
}
.socials svg path{
    fill: black;
    transition: all 250ms linear;
}
.socials svg path:hover{
    fill: #03DAC4
}

/*Intro__start*/

.intro__start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 109px;
}
.coworking{
    margin-top: -80px;
}
.moto{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 14px;
}
.title{
    width: 673px;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: -0.5px;
    color: #6200EE;
    margin-bottom: 35px;
}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 70px;
    width: 588px;
}

.picture{
    margin-right: -139px;
    margin-left: -60px;
    width:100%;
    max-width: 847px;

}

/*Form*/

.form__input{
    display: flex;
    justify-content: center;
    width: 480px;
    border: 3px;
    box-shadow: 0 27px 51px 0 rgba(17, 0, 213, 0.24);
}

.phone{
    border: 0;
    width: 306px;
    height: 56px;
    align-items: center;
    padding: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
}
.submit{
    border: 0;
    height: 56px;
    right: 180px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(59, 0, 221, 1);
    padding: 20px 26px;
    transition: all 250ms ease-in-out;
}
.submit:hover,
.submit:focus{
    opacity: 0.7;
}

/*OurTeam*/


.ourTeam{
    width: 100%;
    max-width: 1185px;
    margin: 0 auto;
}

.header{
    margin-top: 125px;
    margin-bottom: 39px;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}
.ourTeam .text{
    width: 100%;
    max-width: 793px;
    margin: 40px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6)
}
.faces{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:152px;
}
.faces__item{
    position: relative;
    height: 400px;
    background: #FAFAFA;
    box-shadow: 0 24px 38px rgba(0, 0, 0, 0.14), 0 9px 46px rgba(0, 0, 0, 0.12), 0 11px 15px rgba(0, 0, 0, 0.2);
    /*animation-name: rotate;*/
    /*animation-timing-function: linear;*/
    /*animation-duration: 1s;*/
    /*animation-play-state: paused;*/
}
/*@keyframes rotate {*/
/*    0%{*/
/*        transform: scale(1);*/
/*    }*/
/*    50%{transform: scale(0, 1.1)}*/
/*    100%{transform: scale(1)}*/
/*}*/

.faces__item:hover {
    animation-play-state: running;
}

.fistName{
    margin-top: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.87);
}
.position{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
}
.play{
    position: absolute;
    top: 112px;
    left: 172px;
}
.circle{
    position: absolute;
    top: 220px;
    left: 173px;
}

/*Interior*/
.interior__item{
    transition: all 250ms ease-in-out;
}
.interior__item:hover,
.interior__item:focus{
    transform: scale(1.1);
    box-shadow: 0 0 20px #6200EE ;
}

.interior .container{
    display: grid;
    grid-gap: 24px;
    grid-template-rows: repeat(2, 282px);
    grid-template-columns:repeat(4, 1fr);
    margin: 106px 120px 186px;
}
.interior__item:nth-child(4){
    grid-column: 4/5;
    grid-row: 1/3;
    background: #0000A0;
    padding: 48px;
}
.schedule{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 48px;
}
.space{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px ;
}
.interior__text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.6);
}
.area{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0;
    color: #F5F5F5;
    margin-bottom: 28px;
}

/*Services*/

.services h3{
    width: 792px;
    margin: 107px auto 78px;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

.services__main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 107px;
}
.crisis{
    position: relative;
    width: 384px;
    background: #3B00DD;
    margin-right: 126px;
    padding: 70px 24px 40px;
    transition: all 250ms linear;
}
.crisis:hover,
.crisis:focus{
    transform: scale(1.3);
    box-shadow: 0 24px 38px rgba(0, 0, 0, 0.14), 0 9px 46px rgba(0, 0, 0, 0.12), 0 11px 15px rgba(0, 0, 0, 0.2);
}
.crisis__header{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 0 0 26px 0 ;
}
.crisis__text{
    color: #FFFFFF;
    margin-bottom: 48px;
}
.crisis__manager{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 250ms linear;
}
.crisis__manager img{
    border-radius: 20px;
    margin-right: 16px;
}
.crisis__manager .position{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 0;
}
.crisis__manager .fistName{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 0;
}
.options{
    margin-top: -20px;
}

.options__header{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.87);
}
.options__text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
}
.options__item{
    position: relative;
    width: 588px;
    margin-bottom: 44px;
    /*transition: all 250ms linear;*/
}
/*.options__item:hover,*/
/*.options__item:focus{*/
/*    transform: scale(1,1.3);*/
/*}*/

/*Footer*/

.navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 144px;
    margin: 0 auto;
    background: #3B00DD;
    padding: 0;
    align-items: center;
    padding: 0 120px;
}
.navigation__input input{
    border: 0;
}
.navigation__input{
    display: flex;
    justify-content: space-between;
    width: 486px;
    height: 48px;
    align-items: center;
    background: #FFFFFF;
    /*margin-left: 120px;*/
}
.email{
    height: 48px;
    width: 306px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
    padding: 12px 16px;
}
.btn{
    height: 48px;
    width: 180px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    background: #03DAC4;
    padding: 16px 25px;
    transition: all 250ms linear;
}
.btn:hover,
.btn:focus{
    opacity: 0.7;
}
.feedback{
    display: flex;
    flex-direction: row;
}
.feedback a{
    margin-left: 7px;
}
/*.feedback .round{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    border-radius: 20px;*/
/*    margin-left: 7px;*/
/*    background: #FAFAFA;*/
/*    mix-blend-mode: normal;*/
/*    opacity: 0.5;*/
/*}*/
/*.icon1 svg,*/
/*.icon2 svg,*/
/*.icon3 svg,*/
/*.icon4 svg{*/
/*    margin-bottom: -10px;*/
/*}*/
/*.icon1{*/
/*    margin-left: -162px;*/
/*}*/
/*.icon2{*/
/*    margin-left: 30px;*/
/*}*/
/*.icon3{*/
/*    margin-left: 30px;*/
/*}*/
/*.icon4{*/
/*    margin-left: 30px;*/
/*}*/

>
.feedback svg path{
    fill:#0000A0;
    transition: all 250ms linear;
}
.feedback svg path:hover,
.feedback svg path:focus{
    fill: #03DAC4;
}


/*Footer body*/

.footer__body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px auto 109px;
}
.footer__item{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 92px;
}
.footer__item:first-child{
    display: flex;
    align-items: center;
    margin-left: 0;
}
.footer__header{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.87);
}
.footer__text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
}
.footer__item a:nth-child(3){
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
    transition: all 250ms linear;
}
.footer__item a:nth-child(3):hover,
.footer__item a:nth-child(3):focus{
    color: #03DAC4;
}
.footer__item ul{
    padding: 0;
}
.footer__item ul>li{
    list-style: none;
    margin-bottom: 24px;
}
.footer__item ul>li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
    transition: all 250ms linear;
}
.footer__item ul>li a:hover,
.footer__item ul>li a:focus{
    color: #03DAC4;
    text-decoration: underline;
}

/**/
.bottom{
    display: flex;
    justify-content: space-between;
}

.conditions{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
}
.allRightsReserved{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.6);
}
